---
import Layout from "../layouts/Layout.astro";
//import Card from "../components/Card.astro";

// import { invoke } from '@tauri-apps/api';
---

<Layout title="Welcome to Astro.">
	<main class="grid grid-cols-3 h-screen max-h-screen overflow-y-scroll overflow-x-hidden">
		<section class="col-span-1 bg-blue-600 flex flex-col">
			<div class="bg-green-600">
				This is the Search Bar
			</div>
			<div class="flex-1 row-span-11">
				<p>This is the sidebar</p>
			</div>
		</section>
		<section class="col-span-2 bg-pink-600">
			<p>This is the main contentbar</p>
		</section>

	</main>
</Layout>
